:root {
  --main-color: #f8be81;
  --second-color: #96a178;
  --third-color: #c2b7ad;
  --fourth-color: #110d0d;
  --fifth-color: #ffffff;
}
.bg-main {
  background-color: var(--main-color);
}
.bg-second {
  background-color: var(--second-color);
}
.bg-third {
  background-color: var(--third-color);
}
.bg-fourth {
  background-color: var(--fourth-color);
}
.bg-fifth {
  background-color: var(--fifth-color);
}
.special-heading {
  color: var(--main-color);
  /* margin-top: 50px; */
  position: relative;
  text-transform: capitalize;
}
.special-heading::after {
  position: absolute;
  /* margin: auto; */
  content: "";
  height: 5px;
  bottom: -10px;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
}
#main {
  background-image: url("/img/door.jpg");
  height: calc(100vh - 55px);
  position: relative;
  background-size: cover;
  /* background-size: 100vw; */
}
#main .text {
  background-color: rgb(0 0 0/ 60%);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
body::before {
  content: "";
  display: block;
  height: 55px;
}

.map {
  background: url(../img/map.png);
  background-size: 38rem;
  background-position: center;
  border: 5px solid black;
}
@media screen and (max-width: 640px) {
  .map {
    height: 15rem;
    margin-bottom: 2rem;
  }
}

.arabic {
  direction: rtl;
}
.contactbtn {
  border: none;
  padding: 15px 0;
  width: 100%;
  margin: 0;
  background: var(--main-color);
  color: #fff;
  border-radius: 0;
  cursor: pointer;
}
.input:focus {
  outline: none !important;
  border: 1px solid var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
}
.hover-zoom {
  transition: transform 0.2s;
}
.hover-zoom:hover {
  transform: scale(1.1);
}

/* Start Portfolio */
.portfolio .shuffle {
  display: flex;
  justify-content: center;
  list-style: none;
}
.portfolio .shuffle li {
  padding: 10px;
}
.portfolio .shuffle li.active {
  background-color: var(--main-color);
  color: white;
}
.portfolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portfolio .imgs-container .box {
  overflow: hidden;
  position: relative;
}
.portfolio .imgs-container .box:hover .caption {
  bottom: 0;
}
.portfolio .imgs-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
  .portfolio .imgs-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .imgs-container .box {
    flex-basis: 25%;
  }
}
.portfolio .imgs-container .box img {
  max-width: 100%;
  transition: 0.3s;
}
.portfolio .imgs-container .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  bottom: -100%;
}
.portfolio .imgs-container .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.portfolio .imgs-container .box .caption p {
  color: grey;
}
/* .portfolio .more {
  background-color: var(--main-color);
  color: white;
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 30px auto;
  text-decoration: none;
  text-transform: uppercase;
} */
/* End Portfolio */
